In [14]:
%matplotlib inline

In [36]:
# import libraries 

import pandas as pd

# this is here to shut off some annoying warnings from pandas
pd.options.mode.chained_assignment = None

# matplotlib is one of the main plotting libraries we're going to use
import matplotlib 
import matplotlib.pyplot as plt
%matplotlib inline

# the other plotting library is seaborn - we'll use both during the class

# import seaborn as sns

# numpy and scipy are for handling numerical and scientific data

import numpy as np
import scipy as sp

#import statsmodels.formula.api as smf # basic statistical modeling

from scipy.stats.stats import pearsonr 

import os

In [37]:
ngenes = 1000
emax = 5000
valrange = np.arange(1,emax)

In [38]:
rawprobs = np.array([1/x for x in valrange])
probs = rawprobs/np.sum(rawprobs)

wt = np.random.choice(valrange,p = probs, size=1000 )

In [39]:
m = np.argmax(wt)

In [40]:
wt[m]

4983

In [41]:
mut = wt.copy()

In [66]:
mut[m] = wt[m] * 10

In [68]:
df = pd.DataFrame(data=wt,columns=['wt'])

In [69]:
df['mut'] = mut

In [70]:
df

       wt   mut
0       6     6
1       1     1
2       1     1
3       1     1
4    3401  3401
..    ...   ...
995   184   184
996   137   137
997    36    36
998    70    70
999   157   157

[1000 rows x 2 columns]

In [71]:
df['wt_norm'] = 1000000 * df['wt'] / np.sum(df.wt.values) 
df['mut_norm'] = 1000000 * df['mut'] / np.sum(df.mut.values)

In [73]:
df['rat'] = df['mut_norm'] / df['wt_norm']

In [74]:
np.median(df.rat.values)

0.9264673089661777